.carousel-inner{
   border-bottom: 2px solid #bc9c55;
   border-top: 2px solid #bc9c55;
   margin-top:50px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
	 
      margin: auto;
	  padding:0;
   }
   
footer {
   padding-top:1px;
   padding-bottom:10px;
   text-align:center;
   background-color:#222222;
   border-top: 2px solid #bc9c55;
   
}

.footer-brand {
   color :#BC9C55 !important;
   text-decoration:none !important;
}

.social {
   margin:0;
   padding:0;
   width:100%;
   text-align:center;
}

.social li {
   display: inline-block;
}

.social li a {
   display: inline-block;
   font-size:18px;
   line-height:30px;
   border-radius:36px;
   background-color:#111111;
   color:#777777;
   width:30px;
   height:30px;
   margin:0 5px 5px 0;
}

.social li a:hover {
   text-decoration:none;
   background-color:#000000;
   color:#ffffff;
}

.navbar-brand{
   color :#BC9C55 !important;
}

.navbar {
   margin-bottom:0;
   border-radius: 0 !important;
}

.page{
   border-bottom: 1px solid #bc9c55;
   padding:50px;
}

.page-last{
   border-bottom:0px;
   padding:50px;
}

.page-img {
   width:100%;
   max-height:400px;
}
